/* reset.css */
/*html {margin:0;padding:0;border:0;}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section {display:block;}
body {line-height:1.5;background:white;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;float:none !important;}
table, th, td {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:'';}
blockquote, q {quotes:"" "";}
a img {border:none;}
:focus {outline:0;}
*/














html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	font-size: 13px
}

body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}
body, html
{
    width: auto;
    height: 100%;
}

#page
{
	/*min-width: 1240px;
	max-width: 2500px;*/
	width: auto;
	
	
	/*width: 1240px;*/	
    /*margin: 0 auto;*/
    /*margin-top: 5px;*/
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
}

#header
{
	margin: 0;
	padding: 0 0 10px 0;
	border-top: 3px solid #C9E0ED/*#a9c0cD*/;
    background-color: rgb(232, 241, 247)/*#C9E0ED*/;
    position: relative;    
}
.logo {width: 561px; height: 118px;}

#content
{
    /*padding: 0 1% 20px 1%;
    width: 98%;
    max-width: 98%;*/
    width: auto;
    padding: 0 1% 20px 1%;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
    
    position: relative;
}
#footer .p_logo {
    position: absolute;
    top: 4px;
    left: 0;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

/*#mainmenu
{
	background:white url(/images/bg.png) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}*/

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}


















/*ALL*/
table {border-collapse: collapse;}
td {padding: 2px;}
.cls, .clear {float: none; clear: both;}
.f_11 {font-size: 11px;}
input.spinner {width: 60px;}
input[type="text"],
input[type="password"] {border: silver solid 1px;}

a, a:link, a:visited {text-decoration: underline; color: #215ACE;}
.bold {font-weight: bold;}

/*
??? conflict with .btn.info
.info {font-size: 16px; font-weight: bold; text-align: center; }
.info span {padding: 5px;}
.info_err {color: red;}
.info_err span {background-color: #FFBBBB; padding-left: 20px; padding-right: 20px;}*/
.placeholder {color: #999; padding-left: 4px;}



h1 {font-size: 200%;}
h1.pageTitle {font-weight: bold; font-size: 20px; /*padding: 10px;*/}

.albums td img.flag,
img.flag {width: 16px; height: 11px; vertical-align: middle;}

/*UI-DIALOGS*/
/*.ui-alert .ui-dialog-titlebar {display:none}*/

h3 {font-size: 18px}

/*ADMIN TABLES*/
/*Reports*/
table.table_admin {width: 1200px;}
table.table_admin tr th {padding: 6px 4px; border: silver solid 1px; font-weight: bold;}

table.table_admin tr td {padding: 4px; border: silver solid 1px;}
table.table_admin tr td.r1,
table.table_admin tr td.r_id,
table.table_admin tr td.r_act {width: 1px; white-space:nowrap;}
table.table_admin tr.odd td {background-color: #f2f4F8;}

table.table_admin tr td.r_id  {text-align: center;}

table.table_admin tr.cb td {background-color: #D4D4D4;}
table.table_admin tr:hover td {background-color: #e8e8e8;}

table.table_admin .videoN {width:120px; height: 55px; text-align:center;}















.userInfoShot a.ext {margin-left: 16px}
.userInfoShot a.ext img {
	width: 16px;
	height: 16px;
	vertical-align: middle;
}

.user_ref_box {display: none;}

.albumInfoShot {text-align:center; text-transform: lowercase; font-size: 11px}









.topInfoBar {
	position: absolute;
	top:6px;
	right: 50%;
	margin-right: -600px;
	color: #fff;
	/*font-weight: bold;*/
	font-family: monospace;
}
.welcomeUser {
	font-size: 12px;
}

/*USERS*/
.role_user-justjoined {background-color: gray; color:#333}
.role_user-free {background-color: green; color:#333}
.role_user-gold {background-color: yellow; color:#333}
.role_user-deleted {background-color: #000; color:#eee}
.role_user-banned {background-color: red; color:#333}
.user-promo {background-color: #bb275c; color:#eee}

.userFindRes {width: auto; float: left; margin-right: 200px}
.userFindRes td {font-weight: bold}
.userFindRes td.title {min-width: 100px; font-weight: normal;}



	/*IMAGES*/
img.img-small {width: 32px; height: 32px}
img.img-medium {width: 82px; height: 82px}
img.img-big {max-width: 200px; max-height: 200px}

	/*APPROVED, XRATED*/
.table tbody tr.trApprovedClothed td {background-color: #d7fee3; opacity: 0.5}
.table tbody tr.trApprovedClothed:hover td {background-color: #d7fee3; opacity: 1} 
.table tbody tr.trApprovedNaked td {background-color: #ffcdcd; opacity: 0.5}
.table tbody tr.trApprovedNaked:hover td {background-color: #ffcdcd; opacity: 1}

.imgApprovedClothed {border: green solid 4px}
.imgApprovedNaked {border: red solid 4px}


ul.xRateTopForm {width: auto; margin-top:0}
ul.xRateTopForm li {width: auto; float: left; padding: 10px;}
ul.xRateTopForm li.active {background-color: #ccc;}
ul.xRateTopForm li a {padding: 10px;}

div.xRateBox {
	width: 210px; 
	height: 330px; 
	padding: 5px; 
	float: left; 
	border: #aaa solid 1px; 
	margin: 0 20px 20px 0;
	text-align: center;
}
.xRateBox_clothed {background-color: #d7fee3;}
.xRateBox_naked {background-color: #ffcdcd;}
div.xRateBox img {
	max-width: 200px; 
	max-height: 200px; 
	width: auto; 
	height: auto;
	cursor: pointer;
}




/*PAYMENTS*/
	/*billing controll*/
table.billingControll {width: auto; font-size: 13px;}
table.billingControll th {border: #ddd solid 1px; background-color: #eee; text-align: center; vertical-align: middle; padding: 6px 16px}

table.billingControll td {border: #eee solid 1px; padding: 6px 10px}
table.billingControll td input,
table.billingControll td select {margin-bottom: 0}

	/*today gold*/
.todayGold.table.table-condensed {
	border:#eee solid 1px;
	width: auto;
}
.todayGold.table.table-condensed th {
	font-size: 12px; 
	border:#eee solid 1px;
	text-align: center;
	vertical-align: middle;
}
	/*trans*/
.transactionsReport.table.table-condensed {
	border:#eee solid 1px;
	width: auto;
}
.transactionsReport.table.table-condensed th {
	font-size: 12px; 
	border:#eee solid 1px;
	text-align: center;
	vertical-align: middle;
}
table.transactionsReport.table tr:hover td {background-color: #fff}





/*SUMMARY*/
table.table.summary {width: auto}









/*user tab view payment*/
#paymentInfoTab th {text-align: center; font-weight: bold}
/*#paymentInfoTab*/ .tr_transaction_started, .tr_transaction_started td {background-color: #fff}
/*#paymentInfoTab*/ .tr_transaction_authed, .tr_transaction_authed td {background-color: #F5FBEF}
/*#paymentInfoTab*/ .tr_transaction_completed, .tr_transaction_completed td {background-color: #E2FFE8}
/*#paymentInfoTab*/ .tr_transaction_completed_cams, .tr_transaction_completed_cams td {background-color: #CEF6F5}
/*#paymentInfoTab*/ .tr_transaction_renewal, .tr_transaction_renewal td {background-color: #D3DBFC}
/*#paymentInfoTab*/ .tr_transaction_renewal_declined, .tr_transaction_renewal_declined td {background-color: #FBEFFB}
/*#paymentInfoTab*/ .tr_transaction_cancelled, .tr_transaction_cancelled td {background-color: #ffdddc}







.affNewManagers.table.table-condensed {
	border:#eee solid 1px;
	width: 100%;
	max-width: 1200px;
}
.affNewManagers.table.table-condensed th {
	font-size: 12px; 
	border:#eee solid 1px;
	text-align: center;
	vertical-align: middle;
}




.apiOutLog {width: auto; margin-left:100px}
.apiOutLog th {text-align: center}
.apiOutLog td {padding: 4px 20px}



/*Stats all*/
table.table.table-condensed.statsAll {	
	border:#eee solid 1px;
	width: auto;
	max-width: 1200px;
}
table.table.table-condensed.statsAll th {padding: 16px 32px 16px 6px}
table.table.table-condensed.statsAll td {padding: 6px  10px}





.apiOut_ok {background-color: #A9F5A9; color:#333}
.apiOut_ok.url {background-color: #A9F5A9; color:#215ACE}
.apiOut_nok {background-color: #D8D8D8; color:#333}



.smallerInfo {color: #777; line-height: 10px; margin: 4px 0; font-size: smaller}





#FlirtManualFormBox {padding: 20px 0}
table.FlirtManual th {text-align: center; background-color: #eee}
table.FlirtManual table td {border: none}
table.FlirtManual table td input,
table.FlirtManual table td textarea {width: 100%}