/*
глючит <a> на видео
.bg_gradient_blue {
    background: url("/images/design/bg_gradient_blue_IE.png") no-repeat scroll right top;
    z-index: -10000;
}*/


.signupBox {
    background-color: #fff;
}


/*.box_rs1,
.modal,
.btn,
.signupBox {
    behavior: url(css/pie/PIE.htc);
}
*/


