html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-size: 13px;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
    z-index: 5;
}








#wrapper-landingcams {
	width: 100%;/*width: 650px;*/
	margin: 0 auto;
	font-size: 13px;
	color: #434548;
}

#wrapper-landingcams .landingcams_header {
	width: 100%; 
	height: 75px; 
	border-bottom: #F70028 solid 2px; 
	background-color: #000;
	/*position: relative; top: 68px*/
}
#wrapper-landingcams .landingcams_header .landingcams_header_logo {
	width: 640px;
	margin: 0 auto;
	height: 75px;
	background: url('/images/design/landingcams.png') left top no-repeat;
}




#wrapper-landingcams h1 {
	color: #F70028;
	text-align: center;
	padding: 10px 0;

	font: bold 19px "Trebuchet MS",Arial,Helvetica,Geneva,sans-serif;
}

#wrapper-landingcams a {text-decoration: underline;}

.landingcams-box {
	width: 520px;
	margin: 0 auto;
 	padding: 20px;
	
}

#wrapper-landingcams .landingcams-box .row dt label {width: 100%; color: #555; font-size: 12px} 


/*step 1*/
#landingcams-stepAll-form {padding: 0 30px}
#landingcams-stepAll-form .row {width: 100%;; margin: 0; min-height: 24px}
#landingcams-stepAll-form .row dt {width: 100px;}
/*#landingcams-stepAll-form .row dt label {width: 100%; color: #555; font-size: 12px}*/ 

#landingcams-stepAll-form .row dd {width: 300px;}
#landingcams-stepAll-form .row dd input {width: 260px;}
#landingcams-stepAll-form .row dd select {width: 270px;}

#landingcams-stepAll-form .row dd.errorMessage {width: 16px; height: 16px; margin-top:6px; background: url(/images/design/notok.gif) no-repeat;}

#landingcams-stepAll-form .row #LandingCamsAllinOneStepForm_birthday_year {
    padding-left: 2px;
    width: 80px;
}
#landingcams-stepAll-form .row.birthday select {
    float: left;
    margin-right: 16px;
}
#landingcams-stepAll-form .row.birthday select#LandingCamsAllinOneStepForm_birthday_year {margin-right: 0}
#landingcams-stepAll-form .row #LandingCamsAllinOneStepForm_birthday_month {
    padding-left: 2px;
    width: 92px;
}
#landingcams-stepAll-form .row #LandingCamsAllinOneStepForm_birthday_day {
    padding-left: 2px;
    width: 66px;
}

#landingcams-stepAll-form .row.country {margin-top: 20px;}
#landingcams-stepAll-form #googleMap {width: 270px; height: 160px}

#landingcams-stepAll-form .center {margin-top: 30px;}

#landingcams-stepAll-form #cityLoading {
	display: none;
	width: 16px; height: 16px;
	position: absolute; top: 6px; right: 104px; z-index: 100;
	background:url(/images/design/loading.gif) 0 0 no-repeat;
}





/*step 2*/
/*
#wrapper-landingcams .logoText2 {text-align: right; padding-right: 60px}

.landingcams-box.landingcams-step2 {width: 500px;} 
.landingcams-step2 table {
	width: 100%;
}
.landingcams-step2 table td {
	padding: 10px;
	color: #434548;
    font-family: "Trebuchet MS",Tahoma,Verdana,Arial,Helvetica,sans-serif;
    font-size: 13px;
    vertical-align: middle;
    border: none;	 
}
.landingcams-step2 table td .sbody {
	color: #930000;
    font: bold 16px "Trebuchet MS",Arial,Helvetica,Geneva,sans-serif;	
}

#finalprice {width: 100%; text-align: center; font-weight: bold; font-size: 13px; margin-bottom: 40px}
#finalprice span {color:red; font-size: 13px;}
*/






/*step2*/
.landingcams-box.landingcams-step2 {
	margin: 0 auto; 
	width: 500px;
}
#landingcams-stepAll-form .whitelabelPrices {text-align: center; padding: 0 0 10px 0;}
#landingcams-stepAll-form .whitelabelPrices span {font-weight: bold;}

#landingcams-stepAll-form .row {width: 100%}
#landingcams-stepAll-form .row dt {width: 30%;}
/*#landingcams-stepAll-form .row dt label {width: 90%; text-align: right; font-size: 15px}*/

#landingcams-stepAll-form .row dd {width: 270px; margin-right: 10px}

.landingcams-box.landingcams-step2 td {
    color: #434548;
    font-family: "Trebuchet MS",Tahoma,Verdana,Arial,Helvetica,sans-serif;
    font-size: 13px;
}

#landingcams-stepAll-form {}


.subStepTitle {
    color: #F70028;
    font: bold 19px "Trebuchet MS",Arial,Helvetica,Geneva,sans-serif;
    line-height: 40px;
}

#landingcams-stepAll-form form .row {min-height: 22px; margin-bottom: 0}

/*#landingcams-stepAll-form form .row input {width: 260px}
#landingcams-stepAll-form form .row select {width: 270px}*/

#landingcams-stepAll-form form .row #LandingCamsAllinOneStepForm_ccmon {width: 50px; margin-right: 14px}
#landingcams-stepAll-form form .row #LandingCamsAllinOneStepForm_ccyear {width: 80px}
#landingcams-stepAll-form form .row #LandingCamsAllinOneStepForm_ccvv {width: 80px}
#landingcams-stepAll-form form .row #LandingCamsAllinOneStepForm_zip {width: 80px}

#fill1cont, #fill2cont, #fill3cont {display: none; margin-top: 20px;}

#landingcams-stepAll-form .btn-danger {font-size: 16px}

#landingcams-stepAll-form .row dd#state-loading {
	display: none;
	width: 16px; height: 37px;
	background:url(/images/design/loading.gif) 0 0 no-repeat;
}
#landingcams-stepAll-form .row dd#state-NA {
	display: none;
	width: 16px; height: 22px; line-height: 22px; margin-bottom: 15px;
	/*padding-top: 4px*/
}

#landingcams-stepAll-form .center .btn {margin-top: 20px}
#landingcams-stepAll-form .holderinfor {margin-top: 40px}


.row.joinONL dt {text-align: right;}
.row.joinONL dd {font-size: 11px;}
#landingcams-stepAll-form form .row input#LandingCamsAllinOneStepForm_joinONL {width: auto; margin-right: 20px}

/*step 4*/
.landingcams-step4 {width: 500px; text-align: center; font-size: 13px; height: 400px}
.landingcams-step4 p {width: 90%;  line-height: 200%; margin: 0 auto}



/*success page*/
.landingcams-success {
	width: 600px; 
	/*text-align: center; */
	margin-left: -75px;

}
.landingcams-success h3 {font-size: 20px; margin: 10px}
.landingcams-success p {/*width: 90%;  line-height: 200%;*/ margin: 0 auto; text-align: left; font-size: 13px;}

.landingcams-success table {width: 80%; margin: 20px auto; border: #ddd 1px solid}
.landingcams-success table td {font-size: 15px; padding: 6px 10px; background-color: #eee}

#wrapper-landingcams .landingcams-success .btn {color: #fff; text-decoration: none; font-size: 16px; text-transform: uppercase;}
/*.landingcams-success .joinNC,
.landingcams-success .joinNC .left,
.landingcams-success .joinNC .right,
.landingcams-success .joinNC a {font-size: 11px; color: #434548; text-align: justify;}
.landingcams-success .joinNC .left { width: 3%}
.landingcams-success .joinNC .right { width: 97%}*/
.landingcams-success .joinONL,
.landingcams-success .joinONL .left,
.landingcams-success .joinONL .right,
.landingcams-success .joinONL a {font-size: 11px; color: #434548; text-align: justify;}
.landingcams-success .joinONL .left { width: 3%}
.landingcams-success .joinONL .right { width: 97%}



.landingCamsFooter {
	width: 100%; 
	border-top: #F70028 solid 2px;	
	background-color: #EBEBEB;
	padding: 20px 0;
}
.landingCamsFooter .landingCamsFooter_box {width: 800px; margin: 0 auto;}
.landingCamsFooter .left,
.landingCamsFooter .right {width: 49%;}
.landingCamsFooter * {font-size: 11px;}
.landingCamsFooter a {color: #F70028}
