#sidebar .breaker
{
    border-width: 1px 0px;
    border-style: solid none;
    border-color: rgb(179, 179, 179) currentColor rgb(255, 255, 255);
    margin: 6px 0px 4px;
    padding: 0px;
    height: 1px !important;
    clear: both;
}
#sidebar .spacer
{
    border-width: 1px 0px;
    border-style: solid none;
    border-color: rgb(179, 179, 179) currentColor rgb(255, 255, 255);
    margin: 6px 0px 4px;
    padding: 0px;
    height: 1px !important;
    clear: both;
}
#sidebar hr
{
    border-width: 1px 0px;
    border-style: solid none;
    border-color: rgb(179, 179, 179) currentColor rgb(255, 255, 255);
    margin: 6px 0px 4px;
    padding: 0px;
    height: 1px !important;
    clear: both;
}
hr
{
    border-width: 1px 0px;
    border-style: solid none;
    border-color: rgb(179, 179, 179) currentColor rgb(255, 255, 255);
    margin: 6px 0px 4px;
    padding: 0px;
    height: 1px !important;
    clear: both;
}
#username
{
    margin: 5px 0px 0px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
#username a
{
    line-height: 17px !important;
}
#profile a:link
{
    font-weight: normal;
}
#profile a:visited
{
    font-weight: normal;
}
#profile a.disabled:link
{
    color: rgb(153, 153, 153);
}
#profile a.disabled:visited
{
    color: rgb(153, 153, 153);
}
.iconMark
{
    background: url("/images/img/control.png") no-repeat;
    width: 18px !important;
    height: 16px;
    text-indent: -9000px;
    margin-top: 4px;
    margin-right: 4px !important;
    float: left;
}
.iconTick
{
    background: url("/images/img/control.png") no-repeat;
    width: 18px !important;
    height: 16px;
    text-indent: -9000px;
    margin-top: 4px;
    margin-right: 4px !important;
    float: left;
}
.iconIm
{
    background: url("/images/img/control.png") no-repeat;
    width: 18px !important;
    height: 16px;
    text-indent: -9000px;
    margin-top: 4px;
    margin-right: 4px !important;
    float: left;
}
.iconEmail
{
    background: url("/images/img/control.png") no-repeat;
    width: 18px !important;
    height: 16px;
    text-indent: -9000px;
    margin-top: 4px;
    margin-right: 4px !important;
    float: left;
}
.iconWinks
{
    background: url("/images/img/control.png") no-repeat;
    width: 18px !important;
    height: 16px;
    text-indent: -9000px;
    margin-top: 4px;
    margin-right: 4px !important;
    float: left;
}
.iconViews
{
    background: url("/images/img/control.png") no-repeat;
    width: 18px !important;
    height: 16px;
    text-indent: -9000px;
    margin-top: 4px;
    margin-right: 4px !important;
    float: left;
}
.iconHeart
{
    background: url("/images/img/control.png") no-repeat;
    width: 18px !important;
    height: 16px;
    text-indent: -9000px;
    margin-top: 4px;
    margin-right: 4px !important;
    float: left;
}
.iconNo
{
    background: url("/images/img/control.png") no-repeat;
    width: 18px !important;
    height: 16px;
    text-indent: -9000px;
    margin-top: 4px;
    margin-right: 4px !important;
    float: left;
}
.iconAtt
{
    background: url("/images/img/control.png") no-repeat;
    width: 18px !important;
    height: 16px;
    text-indent: -9000px;
    margin-top: 4px;
    margin-right: 4px !important;
    float: left;
}
.iconWinksSent
{
    background: url("/images/img/control.png") no-repeat;
    width: 18px !important;
    height: 16px;
    text-indent: -9000px;
    margin-top: 4px;
    margin-right: 4px !important;
    float: left;
}
.iconEmailSent
{
    background: url("/images/img/control.png") no-repeat;
    width: 18px !important;
    height: 16px;
    text-indent: -9000px;
    margin-top: 4px;
    margin-right: 4px !important;
    float: left;
}
.iconContacts
{
    background: url("/images/img/control.png") no-repeat;
    width: 18px !important;
    height: 16px;
    text-indent: -9000px;
    margin-top: 4px;
    margin-right: 4px !important;
    float: left;
}
.iconFavourited
{
    background: url("/images/img/control.png") no-repeat;
    width: 18px !important;
    height: 16px;
    text-indent: -9000px;
    margin-top: 4px;
    margin-right: 4px !important;
    float: left;
}
.iconCalendar
{
    background: url("/images/img/control.png") no-repeat;
    width: 18px !important;
    height: 16px;
    text-indent: -9000px;
    margin-top: 4px;
    margin-right: 4px !important;
    float: left;
}
.iconEdit
{
    background: url("/images/img/control.png") no-repeat;
    width: 18px !important;
    height: 16px;
    text-indent: -9000px;
    margin-top: 4px;
    margin-right: 4px !important;
    float: left;
}
.iconRead
{
    background: url("/images/img/control.png") no-repeat;
    width: 18px !important;
    height: 16px;
    text-indent: -9000px;
    margin-top: 4px;
    margin-right: 4px !important;
    float: left;
}
.iconUnread
{
    background: url("/images/img/control.png") no-repeat;
    width: 18px !important;
    height: 16px;
    text-indent: -9000px;
    margin-top: 4px;
    margin-right: 4px !important;
    float: left;
}
.iconX
{
    background: url("/images/img/control.png") no-repeat;
    width: 18px !important;
    height: 16px;
    text-indent: -9000px;
    margin-top: 4px;
    margin-right: 4px !important;
    float: left;
}
.iconDisc
{
    background: url("/images/img/control.png") no-repeat;
    width: 18px !important;
    height: 16px;
    text-indent: -9000px;
    margin-top: 4px;
    margin-right: 4px !important;
    float: left;
}
.iconDelete
{
    background: url("/images/img/control.png") no-repeat;
    width: 18px !important;
    height: 16px;
    text-indent: -9000px;
    margin-top: 4px;
    margin-right: 4px !important;
    float: left;
}
.iconForward
{
    background: url("/images/img/control.png") no-repeat;
    width: 18px !important;
    height: 16px;
    text-indent: -9000px;
    margin-top: 4px;
    margin-right: 4px !important;
    float: left;
}
.iconBackward
{
    background: url("/images/img/control.png") no-repeat;
    width: 18px !important;
    height: 16px;
    text-indent: -9000px;
    margin-top: 4px;
    margin-right: 4px !important;
    float: left;
}
.iconCardS
{
    background: url("/images/img/control.png") no-repeat;
    width: 18px !important;
    height: 16px;
    text-indent: -9000px;
    margin-top: 4px;
    margin-right: 4px !important;
    float: left;
}
.iconCardL
{
    background: url("/images/img/control.png") no-repeat;
    width: 18px !important;
    height: 16px;
    text-indent: -9000px;
    margin-top: 4px;
    margin-right: 4px !important;
    float: left;
}
.iconLiked
{
    background: url("/images/img/control.png") no-repeat;
    width: 18px !important;
    height: 16px;
    text-indent: -9000px;
    margin-top: 4px;
    margin-right: 4px !important;
    float: left;
}
.iconImage
{
    background: url("/images/img/control.png") no-repeat;
    width: 18px !important;
    height: 16px;
    text-indent: -9000px;
    margin-top: 4px;
    margin-right: 4px !important;
    float: left;
}
.iconVip
{
    background: url("/images/img/control.png") no-repeat;
    width: 18px !important;
    height: 16px;
    text-indent: -9000px;
    margin-top: 4px;
    margin-right: 4px !important;
    float: left;
}
.iconAlert
{
    background: url("/images/img/control.png") no-repeat;
    width: 18px !important;
    height: 16px;
    text-indent: -9000px;
    margin-top: 4px;
    margin-right: 4px !important;
    float: left;
}
.iconNewspapaer
{
    background: url("/images/img/control.png") no-repeat;
    width: 18px !important;
    height: 16px;
    text-indent: -9000px;
    margin-top: 4px;
    margin-right: 4px !important;
    float: left;
}
.iconNewspaper
{
    background: url("/images/img/control.png") no-repeat;
    width: 18px !important;
    height: 16px;
    text-indent: -9000px;
    margin-top: 4px;
    margin-right: 4px !important;
    float: left;
}
.iconWebcam
{
    background: url("/images/img/control.png") no-repeat;
    width: 18px !important;
    height: 16px;
    text-indent: -9000px;
    margin-top: 4px;
    margin-right: 4px !important;
    float: left;
}
.iconBasket
{
    background: url("/images/img/control.png") no-repeat;
    width: 18px !important;
    height: 16px;
    text-indent: -9000px;
    margin-top: 4px;
    margin-right: 4px !important;
    float: left;
}
.iconDVD
{
    background: url("/images/img/control.png") no-repeat;
    width: 18px !important;
    height: 16px;
    text-indent: -9000px;
    margin-top: 4px;
    margin-right: 4px !important;
    float: left;
}
.iconFacebook
{
    background: url("/images/img/control.png") no-repeat;
    width: 18px !important;
    height: 16px;
    text-indent: -9000px;
    margin-top: 4px;
    margin-right: 4px !important;
    float: left;
}
.iconCamera
{
    background: url("/images/img/control.png") no-repeat;
    width: 18px !important;
    height: 16px;
    text-indent: -9000px;
    margin-top: 4px;
    margin-right: 4px !important;
    float: left;
}
.read-button
{
    background: url("/images/img/control.png") no-repeat;
    width: 18px !important;
    height: 16px;
    text-indent: -9000px;
    margin-top: 4px;
    margin-right: 4px !important;
    float: left;
}
.iconBooks
{
    background: url("/images/img/control.png") no-repeat;
    width: 18px !important;
    height: 16px;
    text-indent: -9000px;
    margin-top: 4px;
    margin-right: 4px !important;
    float: left;
}
.iconVC
{
    background: url("/images/img/control.png") no-repeat;
    width: 18px !important;
    height: 16px;
    text-indent: -9000px;
    margin-top: 4px;
    margin-right: 4px !important;
    float: left;
}
.iconHelp
{
    background: url("/images/img/control.png") no-repeat;
    width: 18px !important;
    height: 16px;
    text-indent: -9000px;
    margin-top: 4px;
    margin-right: 4px !important;
    float: left;
}
.iconPenis
{
    background: url("/images/img/control.png") no-repeat;
    width: 18px !important;
    height: 16px;
    text-indent: -9000px;
    margin-top: 4px;
    margin-right: 4px !important;
    float: left;
}
.iconCalendar
{
    background: url("/images/img/control.png") no-repeat;
    width: 18px !important;
    height: 16px;
    text-indent: -9000px;
    margin-top: 4px;
    margin-right: 4px !important;
    float: left;
}
.iconAccount
{
    background: url("/images/img/control.png") no-repeat;
    width: 18px !important;
    height: 16px;
    text-indent: -9000px;
    margin-top: 4px;
    margin-right: 4px !important;
    float: left;
}
.iconStar2
{
    background: url("/images/img/control.png") no-repeat;
    width: 18px !important;
    height: 16px;
    text-indent: -9000px;
    margin-top: 4px;
    margin-right: 4px !important;
    float: left;
}
.iconStar
{
    background: url("/images/img/control.png") no-repeat;
    width: 18px !important;
    height: 16px;
    text-indent: -9000px;
    margin-top: 4px;
    margin-right: 4px !important;
    float: left;
}
.iconDownload
{
    background: url("/images/img/control.png") no-repeat;
    width: 18px !important;
    height: 16px;
    text-indent: -9000px;
    margin-top: 4px;
    margin-right: 4px !important;
    float: left;
}
.iconHotNot
{
    background: url("/images/img/control.png") no-repeat;
    width: 18px !important;
    height: 16px;
    text-indent: -9000px;
    margin-top: 4px;
    margin-right: 4px !important;
    float: left;
}
.iconHotNotLetsmeet
{
    background: url("/images/img/control.png") no-repeat;
    width: 18px !important;
    height: 16px;
    text-indent: -9000px;
    margin-top: 4px;
    margin-right: 4px !important;
    float: left;
}
.iconHotNotRatingRec
{
    background: url("/images/img/control.png") no-repeat;
    width: 18px !important;
    height: 16px;
    text-indent: -9000px;
    margin-top: 4px;
    margin-right: 4px !important;
    float: left;
}
.iconHotNotRatingSent
{
    background: url("/images/img/control.png") no-repeat;
    width: 18px !important;
    height: 16px;
    text-indent: -9000px;
    margin-top: 4px;
    margin-right: 4px !important;
    float: left;
}
.iconHelp
{
    background-position: -384px -184px;
}
.iconMark
{
    background-position: -36px -54px;
}
.iconDVD
{
    background-position: -126px -55px;
}
.iconTick
{
    background-position: -89px -36px;
}
.iconImage
{
    background-position: -161px -1px;
}
.iconIm
{
    display: none;
}
.iconEmail
{
    background-position: -71px -18px;
}
.iconUnread
{
    background-position: -71px -18px;
}
.iconWinks
{
    background-position: 1px -55px;
}
.iconViews
{
    background-position: -17px -72px;
}
.iconHeart
{
    background-position: -18px -18px;
}
.iconNo
{
    background-position: 0px -37px;
}
.iconAtt
{
    background-position: -18px -36px;
}
.iconWinksSent
{
    background-position: -18px -54px;
}
.iconEmailSent
{
    background-position: -72px -54px;
}
.iconContacts
{
    background-position: -36px -37px;
}
.iconFavourited
{
    background-position: 1px -19px;
}
.iconCalendar
{
    background-position: -54px -54px;
}
.iconEdit
{
    background-position: 0px -72px;
}
.iconX
{
    background-position: -17px 0px;
}
.iconDisc
{
    background-position: -54px -18px;
}
.iconRead
{
    background-position: -72px 0px;
}
.iconDelete
{
    background-position: -54px -36px;
}
.iconForward
{
    background-position: -36px 0px;
}
.iconBackward
{
    background-position: -54px 0px;
}
.iconVip
{
    background-position: -383px -200px;
}
.iconWebcam
{
    background-position: -108px -38px;
}
.iconCamera
{
    background-position: -180px -74px;
}
.iconNewspapaer
{
    background-position: -161px -72px;
}
.iconNewspaper
{
    background-position: -161px -72px;
}
.iconBasket
{
    background-position: -197px -74px;
}
.iconFacebook
{
    background-position: -293px -183px;
}
.iconBooks
{
    background-position: -303px -266px;
}
.iconAlert
{
    background-position: -182px -30px;
    width: 31px;
    height: 27px;
}
.iconCardS
{
    background-position: -37px -73px;
    width: 28px !important;
    height: 15px;
}
.iconCardL
{
    background-position: -68px -73px;
    width: 56px !important;
    height: 15px;
}
.iconDisabled
{
    filter: alpha(opacity = 30);
    opacity: 0.3;
}
.iconLiked
{
    background-position: -107px -55px;
}
.iconVC
{
    background-position: -361px -183px;
    width: 20px !important;
    height: 17px;
}
.iconStar
{
    background-position: -145px -36px;
    width: 16px;
    height: 17px;
}
.iconStar2
{
    background-position: -145px -36px;
    width: 16px;
    height: 17px;
}
.iconPenis
{
    background: url("/images/img/penis.png") no-repeat;
    width: 16px;
    height: 16px;
}
.iconBoobs
{
    background: url("/images/img/boobs.png") no-repeat;
    width: 16px;
    height: 16px;
}
.iconCalendar
{
    background-position: -320px -264px;
    width: 16px;
    height: 17px;
}
.iconAccount
{
    background-position: -336px -264px;
    width: 20px;
    height: 17px;
}
.iconDownload
{
    background-position: -353px -264px;
    width: 20px;
    height: 17px;
}
a.read-button
{
    background-position: -330px -183px;
    width: 31px !important;
    height: 15px;
}
.iconHotNot
{
    background: url("/images/img/hotnot-flame-icon.png") no-repeat;
    width: 16px;
    height: 16px;
}
.iconHotNotLetsmeet
{
    background: url("/images/img/hotnot-letsmeet-icon.png") no-repeat;
    width: 16px;
    height: 16px;
}
.iconHotNotRatingRec
{
    background: url("/images/img/hotnot-rating-rec.png") no-repeat;
    width: 16px;
    height: 16px;
}
.iconHotNotRatingSent
{
    background: url("/images/img/hotnot-rating-sent.png") no-repeat;
    width: 16px;
    height: 16px;
}
.iconGift
{
    background: url("/images/img/gifts/icons.sm.png") no-repeat 0px 0px;
    width: 20px;
    height: 20px;
    text-indent: -9000px;
    margin-top: 4px;
    margin-right: 4px;
    float: left;
}
.iconGiftheart
{
    background: url("/images/img/gifts/icons.sm.png") no-repeat 0px 0px;
    width: 20px;
    height: 20px;
    text-indent: -9000px;
    margin-top: 4px;
    margin-right: 4px;
    float: left;
}
.iconGiftpresent
{
    background: url("/images/img/gifts/icons.sm.png") no-repeat 0px 0px;
    width: 20px;
    height: 20px;
    text-indent: -9000px;
    margin-top: 4px;
    margin-right: 4px;
    float: left;
}
.iconGiftchocheart
{
    background: url("/images/img/gifts/icons.sm.png") no-repeat 0px 0px;
    width: 20px;
    height: 20px;
    text-indent: -9000px;
    margin-top: 4px;
    margin-right: 4px;
    float: left;
}
.iconGiftrose
{
    background: url("/images/img/gifts/icons.sm.png") no-repeat 0px 0px;
    width: 20px;
    height: 20px;
    text-indent: -9000px;
    margin-top: 4px;
    margin-right: 4px;
    float: left;
}
.iconGiftchampagne
{
    background: url("/images/img/gifts/icons.sm.png") no-repeat 0px 0px;
    width: 20px;
    height: 20px;
    text-indent: -9000px;
    margin-top: 4px;
    margin-right: 4px;
    float: left;
}
.iconGiftknickers
{
    background: url("/images/img/gifts/icons.sm.png") no-repeat 0px 0px;
    width: 20px;
    height: 20px;
    text-indent: -9000px;
    margin-top: 4px;
    margin-right: 4px;
    float: left;
}
.iconGiftkiss
{
    background: url("/images/img/gifts/icons.sm.png") no-repeat 0px 0px;
    width: 20px;
    height: 20px;
    text-indent: -9000px;
    margin-top: 4px;
    margin-right: 4px;
    float: left;
}
.iconGiftcake
{
    background: url("/images/img/gifts/icons.sm.png") no-repeat 0px 0px;
    width: 20px;
    height: 20px;
    text-indent: -9000px;
    margin-top: 4px;
    margin-right: 4px;
    float: left;
}
.iconGiftcandycane
{
    background: url("/images/img/gifts/icons.sm.png") no-repeat 0px 0px;
    width: 20px;
    height: 20px;
    text-indent: -9000px;
    margin-top: 4px;
    margin-right: 4px;
    float: left;
}
.iconGiftpumpkin
{
    background: url("/images/img/gifts/icons.sm.png") no-repeat 0px 0px;
    width: 20px;
    height: 20px;
    text-indent: -9000px;
    margin-top: 4px;
    margin-right: 4px;
    float: left;
}
.iconGiftheart
{
}
.iconGiftpresent
{
    background-position: -20px 0px;
}
.iconGiftchocheart
{
    background-position: -40px 0px;
}
.iconGiftrose
{
    background-position: -60px 0px;
}
.iconGiftchampagne
{
    background-position: -80px 0px;
}
.iconGiftknickers
{
    background-position: 0px -20px;
}
.iconGiftkiss
{
    background-position: -20px -20px;
}
.iconGift
{
    background-position: -20px -20px;
}
.iconGiftcake
{
    background-position: -40px -20px;
}
.iconGiftcandycane
{
    background-position: -80px -20px;
}
.iconGiftpumpkin
{
    background-position: -60px -20px;
}


#links
{
    margin-top: 5px;
}
#links li
{
    padding: 3px 0px;
    margin-bottom: 1px;
}
#links li.active
{
    background: url("/images/img/body_horizontal.png") repeat-y -194px 0px;
}
#links li:hover
{
    background: url("/images/img/body_horizontal.png") repeat-y -194px 0px;
}
#links li a:link
{
    font-weight: normal;
    display: block;
}
#links li a:visited
{
    font-weight: normal;
    display: block;
}
#links li a.disabled:link
{
    color: rgb(153, 153, 153);
}
#links li a.disabled:visited
{
    color: rgb(153, 153, 153);
}


#wrapper a#ImCount:link
{
    display: none;
}
#wrapper a#ImCount:visited
{
    display: none;
}
#wrapper a#EmailCount:link
{
    display: none;
}
#wrapper a#EmailCount:visited
{
    display: none;
}
#wrapper a#WinksCount:link
{
    display: none;
}
#wrapper a#WinksCount:visited
{
    display: none;
}
#wrapper a#ViewsCount:link
{
    display: none;
}
#wrapper a#ViewsCount:visited
{
    display: none;
}
#wrapper a#PhotoRequestCount:link
{
    display: none;
}
#wrapper a#PhotoRequestCount:visited
{
    display: none;
}
#wrapper a#FavoriteCount:link
{
    display: none;
}
#wrapper a#FavoriteCount:visited
{
    display: none;
}
#wrapper a#LikeCount:link
{
    display: none;
}
#wrapper a#LikeCount:visited
{
    display: none;
}
#wrapper a#LetsMeetCount:link
{
    display: none;
}
#wrapper a#LetsMeetCount:visited
{
    display: none;
}
#wrapper a#WhosRatedCount:link
{
    display: none;
}
#wrapper a#WhosRatedCount:visited
{
    display: none;
}
#wrapper a.active#LetsMeetCount:link
{
    background: url("/images/img/control.png") no-repeat -217px -183px;
    padding: 3px 0px 3px 6px;
    height: 11px;
    color: rgb(255, 255, 255);
    line-height: 11px;
    font-family: arial, sans-serif;
    font-size: 10px;
    font-weight: normal;
    margin-top: -18px;
    margin-right: 20px;
    float: right;
    display: block;
    position: relative;
    text-shadow: #8E1B09 1px 1px;
}
#wrapper a.active#LetsMeetCount:visited
{
    background: url("/images/img/control.png") no-repeat -217px -183px;
    padding: 3px 0px 3px 6px;
    height: 11px;
    color: rgb(255, 255, 255);
    line-height: 11px;
    font-family: arial, sans-serif;
    font-size: 10px;
    font-weight: normal;
    margin-top: -18px;
    margin-right: 20px;
    float: right;
    display: block;
    position: relative;
    text-shadow: #8E1B09 1px 1px;
}
#wrapper a.active#WhosRatedCount:link
{
    background: url("/images/img/control.png") no-repeat -217px -183px;
    padding: 3px 0px 3px 6px;
    height: 11px;
    color: rgb(255, 255, 255);
    line-height: 11px;
    font-family: arial, sans-serif;
    font-size: 10px;
    font-weight: normal;
    margin-top: -18px;
    margin-right: 20px;
    float: right;
    display: block;
    position: relative;
    text-shadow: #8E1B09 1px 1px;
}
#wrapper a.active#WhosRatedCount:visited
{
    background: url("/images/img/control.png") no-repeat -217px -183px;
    padding: 3px 0px 3px 6px;
    height: 11px;
    color: rgb(255, 255, 255);
    line-height: 11px;
    font-family: arial, sans-serif;
    font-size: 10px;
    font-weight: normal;
    margin-top: -18px;
    margin-right: 20px;
    float: right;
    display: block;
    position: relative;
    text-shadow: #8E1B09 1px 1px;
}
#wrapper a.active#ImCount:link
{
    background: url("/images/img/control.png") no-repeat -217px -183px;
    padding: 3px 0px 3px 6px;
    height: 11px;
    color: rgb(255, 255, 255);
    line-height: 11px;
    font-family: arial, sans-serif;
    font-size: 10px;
    font-weight: normal;
    margin-top: -18px;
    margin-right: 20px;
    float: right;
    display: block;
    position: relative;
    text-shadow: #8E1B09 1px 1px;
}
#wrapper a.active#ImCount:visited
{
    background: url("/images/img/control.png") no-repeat -217px -183px;
    padding: 3px 0px 3px 6px;
    height: 11px;
    color: rgb(255, 255, 255);
    line-height: 11px;
    font-family: arial, sans-serif;
    font-size: 10px;
    font-weight: normal;
    margin-top: -18px;
    margin-right: 20px;
    float: right;
    display: block;
    position: relative;
    text-shadow: #8E1B09 1px 1px;
}
#wrapper a.active#EmailCount:link
{
    background: url("/images/img/control.png") no-repeat -217px -183px;
    padding: 3px 0px 3px 6px;
    height: 11px;
    color: rgb(255, 255, 255);
    line-height: 11px;
    font-family: arial, sans-serif;
    font-size: 10px;
    font-weight: normal;
    margin-top: -18px;
    margin-right: 20px;
    float: right;
    display: block;
    position: relative;
    text-shadow: #8E1B09 1px 1px;
}
#wrapper a.active#EmailCount:visited
{
    background: url("/images/img/control.png") no-repeat -217px -183px;
    padding: 3px 0px 3px 6px;
    height: 11px;
    color: rgb(255, 255, 255);
    line-height: 11px;
    font-family: arial, sans-serif;
    font-size: 10px;
    font-weight: normal;
    margin-top: -18px;
    margin-right: 20px;
    float: right;
    display: block;
    position: relative;
    text-shadow: #8E1B09 1px 1px;
}
#wrapper a.active#WinksCount:link
{
    background: url("/images/img/control.png") no-repeat -217px -183px;
    padding: 3px 0px 3px 6px;
    height: 11px;
    color: rgb(255, 255, 255);
    line-height: 11px;
    font-family: arial, sans-serif;
    font-size: 10px;
    font-weight: normal;
    margin-top: -18px;
    margin-right: 20px;
    float: right;
    display: block;
    position: relative;
    text-shadow: #8E1B09 1px 1px;
}
#wrapper a.active#WinksCount:visited
{
    background: url("/images/img/control.png") no-repeat -217px -183px;
    padding: 3px 0px 3px 6px;
    height: 11px;
    color: rgb(255, 255, 255);
    line-height: 11px;
    font-family: arial, sans-serif;
    font-size: 10px;
    font-weight: normal;
    margin-top: -18px;
    margin-right: 20px;
    float: right;
    display: block;
    position: relative;
    text-shadow: #8E1B09 1px 1px;
}
#wrapper a.active#ViewsCount:link
{
    background: url("/images/img/control.png") no-repeat -217px -183px;
    padding: 3px 0px 3px 6px;
    height: 11px;
    color: rgb(255, 255, 255);
    line-height: 11px;
    font-family: arial, sans-serif;
    font-size: 10px;
    font-weight: normal;
    margin-top: -18px;
    margin-right: 20px;
    float: right;
    display: block;
    position: relative;
    text-shadow: #8E1B09 1px 1px;
}
#wrapper a.active#ViewsCount:visited
{
    background: url("/images/img/control.png") no-repeat -217px -183px;
    padding: 3px 0px 3px 6px;
    height: 11px;
    color: rgb(255, 255, 255);
    line-height: 11px;
    font-family: arial, sans-serif;
    font-size: 10px;
    font-weight: normal;
    margin-top: -18px;
    margin-right: 20px;
    float: right;
    display: block;
    position: relative;
    text-shadow: #8E1B09 1px 1px;
}
#wrapper a.active#PhotoRequestCount:link
{
    background: url("/images/img/control.png") no-repeat -217px -183px;
    padding: 3px 0px 3px 6px;
    height: 11px;
    color: rgb(255, 255, 255);
    line-height: 11px;
    font-family: arial, sans-serif;
    font-size: 10px;
    font-weight: normal;
    margin-top: -18px;
    margin-right: 20px;
    float: right;
    display: block;
    position: relative;
    text-shadow: #8E1B09 1px 1px;
}
#wrapper a.active#PhotoRequestCount:visited
{
    background: url("/images/img/control.png") no-repeat -217px -183px;
    padding: 3px 0px 3px 6px;
    height: 11px;
    color: rgb(255, 255, 255);
    line-height: 11px;
    font-family: arial, sans-serif;
    font-size: 10px;
    font-weight: normal;
    margin-top: -18px;
    margin-right: 20px;
    float: right;
    display: block;
    position: relative;
    text-shadow: #8E1B09 1px 1px;
}
#wrapper a.active#FavoriteCount:link
{
    background: url("/images/img/control.png") no-repeat -217px -183px;
    padding: 3px 0px 3px 6px;
    height: 11px;
    color: rgb(255, 255, 255);
    line-height: 11px;
    font-family: arial, sans-serif;
    font-size: 10px;
    font-weight: normal;
    margin-top: -18px;
    margin-right: 20px;
    float: right;
    display: block;
    position: relative;
    text-shadow: #8E1B09 1px 1px;
}
#wrapper a.active#FavoriteCount:visited
{
    background: url("/images/img/control.png") no-repeat -217px -183px;
    padding: 3px 0px 3px 6px;
    height: 11px;
    color: rgb(255, 255, 255);
    line-height: 11px;
    font-family: arial, sans-serif;
    font-size: 10px;
    font-weight: normal;
    margin-top: -18px;
    margin-right: 20px;
    float: right;
    display: block;
    position: relative;
    text-shadow: #8E1B09 1px 1px;
}
#wrapper a.active#LikeCount:link
{
    background: url("/images/img/control.png") no-repeat -217px -183px;
    padding: 3px 0px 3px 6px;
    height: 11px;
    color: rgb(255, 255, 255);
    line-height: 11px;
    font-family: arial, sans-serif;
    font-size: 10px;
    font-weight: normal;
    margin-top: -18px;
    margin-right: 20px;
    float: right;
    display: block;
    position: relative;
    text-shadow: #8E1B09 1px 1px;
}
#wrapper a.active#LikeCount:visited
{
    background: url("/images/img/control.png") no-repeat -217px -183px;
    padding: 3px 0px 3px 6px;
    height: 11px;
    color: rgb(255, 255, 255);
    line-height: 11px;
    font-family: arial, sans-serif;
    font-size: 10px;
    font-weight: normal;
    margin-top: -18px;
    margin-right: 20px;
    float: right;
    display: block;
    position: relative;
    text-shadow: #8E1B09 1px 1px;
}
#ImCount span
{
    background: url("/images/img/control.png") no-repeat -282px -183px;
    top: 0px;
    width: 7px;
    height: 17px;
    right: -7px;
    display: block;
    position: absolute;
}
#EmailCount span
{
    background: url("/images/img/control.png") no-repeat -282px -183px;
    top: 0px;
    width: 7px;
    height: 17px;
    right: -7px;
    display: block;
    position: absolute;
}
#WinksCount span
{
    background: url("/images/img/control.png") no-repeat -282px -183px;
    top: 0px;
    width: 7px;
    height: 17px;
    right: -7px;
    display: block;
    position: absolute;
}
#ViewsCount span
{
    background: url("/images/img/control.png") no-repeat -282px -183px;
    top: 0px;
    width: 7px;
    height: 17px;
    right: -7px;
    display: block;
    position: absolute;
}
#PhotoRequestCount span
{
    background: url("/images/img/control.png") no-repeat -282px -183px;
    top: 0px;
    width: 7px;
    height: 17px;
    right: -7px;
    display: block;
    position: absolute;
}
#FavoriteCount span
{
    background: url("/images/img/control.png") no-repeat -282px -183px;
    top: 0px;
    width: 7px;
    height: 17px;
    right: -7px;
    display: block;
    position: absolute;
}
#LikeCount span
{
    background: url("/images/img/control.png") no-repeat -282px -183px;
    top: 0px;
    width: 7px;
    height: 17px;
    right: -7px;
    display: block;
    position: absolute;
}
#LetsMeetCount span
{
    background: url("/images/img/control.png") no-repeat -282px -183px;
    top: 0px;
    width: 7px;
    height: 17px;
    right: -7px;
    display: block;
    position: absolute;
}
#WhosRatedCount span
{
    background: url("/images/img/control.png") no-repeat -282px -183px;
    top: 0px;
    width: 7px;
    height: 17px;
    right: -7px;
    display: block;
    position: absolute;
}

a.online
{
    background: url("/images/img/control.png") no-repeat -92px -55px;
    top: -1px;
    width: 7px;
    height: 8px;
    margin-right: 14px;
    float: right;
    display: block;
    position: relative;
}
a.offline
{
    background: url("/images/img/control.png") no-repeat -92px -55px;
    top: -1px;
    width: 7px;
    height: 8px;
    margin-right: 14px;
    float: right;
    display: block;
    position: relative;
}
a.offline
{
    background-position: -99px -55px;
}
.profile-sidebar
{
    line-height: 14px;
    clear: left;
}
.profile-sidebar a
{
    font-weight:bold;
}
.profile-sidebar a.online:link
{
    top: -5px;
}
.profile-sidebar a.offline:link
{
    top: -5px;
}
.profile-sidebar a.online:visited
{
    top: -5px;
}
.profile-sidebar a.offline:visited
{
    top: -5px;
}
#viewed-my-profile
{
    display: none;
}
#viewing-my-profile
{
    display: none;
}
#sidebar img
{
    margin: 2px 6px 0px 1px;
    float: left;
}

#sidebar h3
{
    line-height:13px;
}

.activityselect
{
    font-weight:bold;
    color:#000;
}

.activityselect.msg
{
    color:#065ad7;
}


#mood_selection .clear
{
    padding: 0px;
    border: none;
}