form label {
    font-size: 18px;
    font-weight: bold;
    line-height: 36px;
}

label .required {
    display: none;
}

form input[type="text"],
form input[type="password"],
form select {
    height: 34px;
    padding: 10px;
    background-color: #FFF;
    color: #555;
    font-size: 13px;
    border-radius: 3px;
    border: 1px solid #CCC;
    box-shadow: inset 1px 1px 1px 0px #CCC;
}

form select {
    height: 34px !important;
    padding: 6px 10px;
}

input[type="checkbox"] {
    width: 15px;
}

.black-button {
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #000;
    color: #fff;
    height: 35px;
    border: 0 none;
    border-radius: 5px;
    padding: 6px 15px;
}

/* datepicker fixes */
.ui-helper-clearfix {
    display:none;
}
.ui-datepicker {
    font-size: 10px;
}