.search_wrap
{
    width: 548px;
    float: left;
}
.search_filter
{
    width: 202px;
    float: left;
}
.search_result
{
    overflow: hidden;
}


.search_filter h1
{
    background: url("/images/img/control.png") no-repeat 0px -319px;
    padding: 0px 0px 9px 10px;
    height: 21px;
    color: rgb(255, 255, 255);
    position: relative;
    text-shadow: #1872b7 1px 1px;
    background: url("/images/img/meetsi/body_vertical.png") repeat-x 0px -42px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
}
.search_filter_box
{
    border-width: 0px 1px 1px;
    border-style: none solid solid;
    border-color: currentColor rgb(221, 218, 210) rgb(221, 218, 210);
    padding: 10px 10px 4px;
    font-weight: bold;
    background-color: rgb(242, 242, 242);
}
.search_filter .content_button
{
    height: 25px !important;
    float: right;
    margin-right: 20px;
}

#age_display
{
    border: 0px currentColor;
    width: 20px;
    color: rgb(0, 0, 0);
}
.radius_display
{
    border: 0px currentColor;
    width: 20px;
    color: rgb(0, 0, 0);
}
#onlineage_display
{
    border: 0px currentColor;
    width: 20px;
    color: rgb(0, 0, 0);
}
#age_from
{
    background-color: transparent;
}
#age_to
{
    background-color: transparent;
}


.forminput
{
    margin: 5px 0px;
}
.age_slider
{
    margin: 0px 16px 10px 0px;
    border: 0px currentColor;
    height: 6px;
    clear: both;
}
.radius_slider
{
    margin: 0px 16px 10px 0px;
    border: 0px currentColor;
    height: 6px;
    clear: both;
}

/*
.weight_slider {
	margin: 0px 16px 10px 0px; border: 0px currentColor; height: 6px; clear: both;
}*/

.height_slider
{
    margin: 0px 16px 10px 0px;
    border: 0px currentColor;
    height: 6px;
    clear: both;
}

#filter
{
    margin-bottom: 0px;
}
h3.center_blue
{
    text-align: center;
    color: rgb(88, 163, 205);
    font-size: 16px;
    text-shadow: #FAFAF7 0 1px;
}
.profile-info a.online
{
    top: 5px;
    height: 8px !important;
    margin-right: 5px;
    float: left;
}
.profile-info a.offline
{
    top: 5px;
    height: 8px !important;
    margin-right: 5px;
    float: left;
}
.search_wrap .content_tabs
{
    margin-right: 15px;
}
.content_tabs
{
    margin-top: 0px;
}
#option2
{
    display: none;
}
#option3
{
    display: none;
}
#option4
{
    display: none;
}
#option5
{
    display: none;
}

.content_tabs_box
{
    padding: 0px;
}
.content_tabs_box .left
{
    margin: 5px 0px;
    width: 130px;
    text-align: left;
    color: rgb(0, 0, 0);
    font-weight: bold;
    float: left;
}
.content_tabs_box .left span
{
    color: rgb(114, 114, 114);
    font-size: 10px;
    font-weight: normal;
}
.content_tabs_box .right
{
    margin: 5px 0px;
    width: 345px;
    float: right;
}
.content_tabs_box .right
{
    margin: 0px;
}

/* Move to main
.ui-slider-horizontal
{
    height: 6px;
}
.ui-slider
{
    width: 95%;
    position: relative;
}
.ui-slider-handle
{
    background: url("/images/img/control.png") no-repeat -37px -19px;
    top: -5px;
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
}
.ui-slider-horizontal .ui-slider-range-min
{
    left: 0px;
}
.ui-slider-horizontal .ui-slider-range-max
{
    right: 0px;
}
.ui-slider-horizontal .ui-slider-range
{
    top: 0px;
    height: 100%;
}
.ui-slider .ui-slider-range
{
    background: url("/images/img/meetsi/body_vertical.png") repeat-x 0px -232px;
    border-radius: 3px 3px 5px 5px;
    border: 0px currentColor;
    font-size: 0.7em;
    display: block;
    position: absolute;
    z-index: 1;
    -moz-border-radius: 3px 3px 5px 5px;
    -webkit-border-radius: 3px 3px 5px 5px;
}
.slider_wrap .ui-widget-content
{
    background: url("/images/img/meetsi/body_vertical.png") repeat-x 0px -226px;
    margin: 10px 0px;
    border-radius: 3px 3px 5px 5px;
    border: 0px currentColor;
    height: 6px;
    clear: both;
    -moz-border-radius: 3px 3px 5px 5px;
    -webkit-border-radius: 3px 3px 5px 5px;
}
*/

.content_button
{
    height: 25px !important;
    float: right;
    margin-right: 20px;
}

.content_tabs_box label
{
    width: 170px;
    float: left;
    display: block;
}
.content_tabs_box label
{
    color: black !important;
}
.content_tabs_box .left span
{
    color: black !important;
}

.search_filter_box
{
    color: rgb(51, 51, 51) !important;
}

#new-search
{
    margin-left: 10px;
    position: absolute;
}
#location-search
{
    line-height: 26px;
}


a#search-question
{
    margin-top: 7px;
    margin-left: 10px;
    position: absolute;
}
#locationSuggestWrap
{
    margin: -7px 1px 0px;
    border: 1px solid rgb(215, 214, 208);
    filter: alpha(opacity=93);
    position: absolute;
    z-index: 20;
    opacity: 0.93;
    background-color: rgb(240, 240, 240);
}
#locationSuggestWrap a
{
    margin: 0px;
    padding: 5px;
    text-transform: capitalize;
    overflow: hidden;
    font-weight: normal !important;
    display: block;
    position: relative;
    background-color: rgb(240, 240, 240);
}
#locationSuggestTip
{
    margin: 0px;
    padding: 5px;
    text-transform: capitalize;
    overflow: hidden;
    font-weight: normal !important;
    display: block;
    position: relative;
    background-color: rgb(240, 240, 240);
}
#locationSuggestWrap a:hover
{
    background-color: rgb(204, 221, 231);
}
#locationSuggestWrap .sname
{
    float: left;
    display: block;
}
#locationSuggestWrap .sdistance
{
    padding-left: 30px;
    float: right;
    display: block;
}
img#change-location
{
    padding-top: 5px;
    float: right;
}
.forminput
{
    background: url("/images/img/control.png") no-repeat -1px -292px;
    padding: 5px;
    border: 0px currentColor;
    width: 175px;
    height: 17px;
}
select.forminput
{
    width: 184px;
    height: 27px;
}


#advanced_search input[type='checkbox']
{
    display: inline;
}
